<div class="contact">
    <div class="account-container login stacked">
	    <div class="content clearfix">
    		<form class="nerdeez-validation">
    			<h1>Contact Us</h1>		
    			<div class="login-fields">
    				<p>
                        We would love to hear your thoughts on the site or bugs you found.
                    </p>
    				<div class="field">
    					<label for="email">Email:</label>
                        {{
                        view
                        Ember.TextField
                        placeholder="email"
                        name="email"
                        valueBinding="email"
                        class="validate[custom[email]]"
                        }}
    				</div> <!-- /field -->
    				<div class="field">
    					<label for="password">Message:</label>
                        {{
                        view
                        Ember.TextArea
                        placeholder="Message"
                        name="message"
                        valueBinding="message"
                        class="validate[required]"
                        }}
    				</div>
    			</div> <!-- /login-fields -->
    			<div class="login-actions">
                    {{loading controller isLoadingBinding="isLoading"}}
    				<button class="button btn btn-primary btn-large" {{action "sendMessage" target="view"}}>
                    <i class="icon-envelope"></i>
                    Send
                    </button>
    			</div> <!-- .actions -->
                {{status controller messageBinding="statusMessage" isSuccessBinding="isSuccess" isShowBinding="isShowStatus"}}
    		</form>
	    </div>
    </div>
</div>