<div class="index question">
    <div class="account-container login stacked">
        <div class="">
            <div class="">
                <div class="explain top-buffer">
                    <h1>
                    {{title}}
                    </h1>
                    <h5>
                    {{text}}
                    </h5>
                </div>
                <div class="button-container top-buffer clearfix">
                {{#if question_type==1}}
                    {{#each answers}}
                        <button class="btn btn-large btn-primary btn-block btn-big-block" {{action "pickAnswer" this}}>
                        {{#if icon_class}}
                        <i class="{{unbound icon_class}}" ></i>
                        {{/if}}
                        {{title}}
                        </button>
                    {{/each}}
                {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>